<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vue路由的嵌套</title>
    <script src="/asserts/js/vue.js" th:src="@{/webjars/vue/2.6.9/dist/vue.min.js}"></script>
    <!-- 导入vue-router模块,需要先导入vue模块 -->
    <script src="/asserts/js/vue-router.js" th:src="@{webjars/vue-router/3.0.7/dist/vue-router.js}"></script>
</head>
<body>
    <div id="app">
        <h3>{{ msg }}</h3>
    </div>

<script>
    // 创建Vue实例，得到ViewModel
    let vm = new Vue({
        el: '#app',
        data: {
            msg: '哈哈哈, 路由规则中定义参数来了'
        },
        methods: {

        }
    })
</script>
</body>
</html>