<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vue路由规则中定义参数</title>
    <script src="/asserts/js/vue.js" th:src="@{/webjars/vue/2.6.9/dist/vue.min.js}"></script>
    <!-- 导入vue-router模块,需要先导入vue模块 -->
    <script src="/asserts/js/vue-router.js" th:src="@{webjars/vue-router/3.0.7/dist/vue-router.js}"></script>
    <style>

    </style>
</head>
<body>
    <div id="app">
        <h3>{{ msg }}</h3>
        <login></login>
        <regit></regit>
        <hr>
        <!-- 如果在路由中使用查询字符串给路由传递参数，则不需要修改路由规则的path属性 -->
        <router-link to="/login?id=10&name=JUNN">LOGIN</router-link>
        <router-link to="/regit/22/yangyang">REGIT</router-link>
        <router-view></router-view>
    </div>
<script>
    // 自定义两个组件
    let login = {
        template: '<h3>LOGIN组件 >> {{ $route.query.id }} >> {{ $route.query.name }} </h3>',
        created() {
            // 同$.refs
            console.log(this.$route.query.id);
        }
    };
    let regit = {
        template: '<h3>REGISTER组件 -- {{$route.params.id }} -- {{$route.params.name}}</h3>'
    };
    // 路由组件
    let router = new VueRouter({
        routes: [
            {path: '/', redirect: '/login'},        // 这里的redirect和Node中的不一样
            {path: '/login', component: login},
            {path: '/regit/:id/:name', component: regit}
        ]
    });

    // 创建Vue实例，得到ViewModel
    let vm = new Vue({
        el: '#app',
        data: {
            msg: '哈哈哈, 路由规则中定义参数来了'
        },
        methods: {

        },
        components: {
          login,
          regit
        },
        // 将路由规则对象注册到实例上, 用来监听URL地址的变化, 然后展示对应的组件
        router
    })
</script>
</body>
</html>