<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">-->
    <title>GetStarted</title>
    <link rel="stylesheet" href="https://www.supermapol.com/earth/Build/Cesium/Widgets/widgets.css">
    <script src='http://www.supermapol.com/resources/api/libs/SuperMap.Include.js'></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .mapcontainer{
            height: 600px;
        }
    </style>
</head>
<body>
    <div id = "map" class="mapcontainer"></div>
    <script>
        var url="http://www.supermapol.com";
        var viewer=new SuperMap.Cloud.MapViewer(url,"map");
        viewer.previewMapById(493);
    </script>
</body>
</html>