body{
    	 width:100%;
		height:100%;
		background-size:cover; 
	    background:url(../images/3.png) top center;
		position: absolute;
		top: 0px;
		left: 0px;
		background-size:100% 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-size:15px;
		font-family:"Î¢ÈíÑÅºÚ";
		color:#000;
    }
    #all{
		 
        width:100%;
		height:100%;
		
		
    }
   #left{
  		float:left;
        margin-top:10px;
        margin-left:10px;
        font-weight: bold;
    }
    #right{
        margin-top:10px;
        margin-left:1050px;
        font-style:italic;
    }
    #top{
     position:absolute;
        
		margin-top:15px;
        margin-left:10px;
        width:98%;
		height:100%;
		
    }
    #h{
     margin-top:15px;
     margin-left:15px;
     width:98%;
	 height:4%;
	  
    }
    #menu{
     
     float:left;
      margin-left:3px;
     
     width:18.5%;
     height:99.4%;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     background-size:cover; 
     background-image:url(../images/2.png);
    }
     #main{
     float:left;
     width:81.1%;
     height:99.4%;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     background-size:cover; 
     background-image:url(../images/1.jpg);
    }
    #form{
   		 margin-top:200px;
        margin-left:150px;
        width:98%;
		height:91.5%;
    }
    #view{
    margin-top:5px;
    margin-left:5px;
     width:95%;
	height:99%;
	-moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     background-size:cover; 
     font-size:13px;
		font-family:"Î¢ÈíÑÅºÚ";
		color:#000;
    	
    }