@charset "UTF-8";
/*CSS Document*/

/*清除元素默认属性*/
* {
    margin: 0;
    padding: 0;
    font-size: 17px;
}
body {
    background-color: #DDF0ED;
}
.top {
    width: 100%;
    height: 27px;
    background: url("../../../resuorce/top_icon.png") repeat-x;
    /*background: url("/resource/images/top_icon.png") repeat-x;*/
}
.top_content {
    width: 1000px;
    margin: 0 auto;
}
.top_content li {
    list-style-image: url("/images/right.png");
    float: right;
    width: 100px;
    line-height: 27px;
}
.top_content a:link, .top_content a:visited {
    color: grey;
    text-decoration: none;  /*下划线不要*/
}
.top_content a:hover, .top_content a:active {
    color: red;
    text-decoration: none;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}
.logo {
    height: 80px;
    background-color: white;
}
.log_left {
    width: 200px;
    float: left;
}
.log_right {
    width: 300px;
    float: right;
    height: 28px;
    margin-top: 30px;
    color: #8e8e8e;
}
.log_right img {
    vertical-align: text-top;
    margin-right: 10px;
}
.tel {
    font-family: "微软雅黑 Light";
    font-size: 17px;
    color: #df6659;
}
.nav {
    height: 40px;
}
.nav_left {
    width: 10px;
    background: url("../../../resuorce/left.png") no-repeat;

}
.nav_mid {
    width: 980px;
    /*background: url("../../../resource/images/mid.png") repeat-x;*/
    background-color: #e8e8e8;
}
.nav_right {
    width: 10px;
    background: url("../../../resuorce/navright.png") no-repeat;
}
.nav_left, .nav_mid, .nav_right {
    float: left;
    height: 40px;
}

.nav_mid_left, .nav_mid_right {
    float: left;
}
.nav_mid_left {
    width: 680px;
}
.nav_mid_right {
    width: 300px;
}
.nav_mid_left li {
    float: left;
    list-style-type: none; /*去掉小圆点*/
    width: 100px;
    text-align: center;
    line-height: 40px;
}

.nav_mid_left a:link, .nav_mid_left a:visited {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: serif;
}
.nav_mid_left a:hover,.nav_mid_left a:active {
    text-decoration: none;
    color: yellow;
    font-size: 18px;
    font-family: serif;
}
.search_text {
    width: 190px;
    height: 25px;
    margin-top: 6px;
    background: url("../../../resuorce/search.png") no-repeat right center; /*水平靠右垂直居中*/
    background-color: white;
    padding-right: 32px;
    border: 1px solid white;
}